.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.custom-button:disabled {
    color: green;
    cursor: not-allowed;
  }
.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    height: fit-content;
    overflow: hidden; 
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
}

.login-info {
    margin: 20px;
    padding: 40px 30px;
    position: absolute;
    background-color: white;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

input::placeholder {
    font-size: 11px;
}

.login-input {
    border: 1px solid black;
    padding: 10px 20px;
    width: 340px;
    max-width: 774px;
}

.login-button {
    width: 100%;
    background-color: #1471B5;
    color: white;
    border: none;
    padding: 15px;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 3px;
    transition: all .5s ease;
}

.login-button:hover {
    background-color: white;
    color: #1471B5;
    border: 1px solid #1471B5;
}

.login-form-label {
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 400;
}

.required {
    color: rgb(170, 3, 3);

}

.login-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 6px;
    padding: 10px 0;
}

.login-error {
    font-size: 14px;
    color: red;
    text-align: center;
}

.login-link {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    padding-top: 10px;
    cursor: pointer;
    transition: all .5s ease;
}

.login-link:hover{
    color: #1471B5;
}

.login-title {
    color: #1471B5;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 3px;
    margin-top: 0;
}

.login-video-wrapper {
    position: relative;
}

.login-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    overflow: hidden;
}
.login-label{
    width: fit-content;
}
@media only screen and (max-width:440px) {
    .login-input, .login-button
     {
        max-width: 250px;
        box-sizing: border-box;
    }
}