.MuiDataGrid-cell{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectList {
    flex: 4;
    padding: 20px;
}

.projectListItem {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.projectListImg {
    width: auto; 
    height: 40px;
    object-fit: cover;
    margin-right: 10px;
}

.css-dwkzlu-MuiDataGrid-root .MuiDataGrid-virtualScrollerContent .MuiDataGrid-row {
    height: 80px;
}

.projectListEdit {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.projectListDelete {
    color: red;
    cursor: pointer;
}
