.homeProjects-container {
    height: 100vh;
}

.homeProjects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    perspective: 1500px;
    position: relative;
    width: 100%;
    height: 100%;
}

.homeProjects-content {
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.homeProjects-title {
    color: #415A77;
    font-weight: bold;
    font-size: 75px;
    margin-bottom: 0;
    letter-spacing: 5px;
}

.homeProjects-desc {
    color: #1b263b68;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
}

.homeProjects-img {
    max-height: 150px;
    width: auto;
    margin: 20px;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: transform 0.5s ease, opacity .7s ease;
}


.homeProjects-card {
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    perspective-origin: 50% 50%;
    perspective: 2000px;

}

.homeProjects-box {
    opacity: 1;
    perspective: 2000px;
    top: 55%;
    left: 50%;
    position: absolute;
    transition: transform .5s ease;
    perspective: 1500px;
}

.homeProjects-rotation {
    transform: translateZ(-20vw);
}

.img-1 {
    transform: rotateX(341deg) rotateY(21deg) translateZ(0px) translateX(-345px) translateY(-136px);
    scale: 1.2;
}

.img-2 {
    transform: rotateX(36deg) rotateY(24deg) translateX(-420px) translateY(-90px);
    scale: .8;
}

.img-3 {
    transform: rotateX(33deg) rotateY(8deg) translateZ(0px) translateX(-380px) translateY(-10px) rotateZ(333deg);
    scale: 1.3;
}

.img-4 {
    transform: rotateX(38deg) rotateY(340deg) translateZ(0px) translateX(-300px) translateY(-100px) rotateZ(9deg);
    scale: 1.2;
}

.img-5 {
    transform: rotateX(326deg) rotateY(332deg) translateZ(0px) translateX(80px) translateY(10px) rotateZ(356deg);
    scale: 1.25;
}

.img-6 {
    transform: rotateX(13deg) rotateY(348deg) translateZ(0px) translateX(10px) translateY(10px) rotateZ(16deg);
    scale: 1.4;
}

.img-7 {
    transform: rotateX(12deg) rotateY(20deg) translateZ(0px) translateX(100px) translateY(-325px) rotateZ(353deg);
    z-index: 10;
}

.img-8 {
    transform: rotateX(2deg) rotateY(340deg) translateZ(0px) translateX(-200px) translateY(-280px) rotateZ(354deg);
    scale: 1.5;
    z-index: 1;
}

.home-img-1 {
    box-shadow: 0px 6px 7px 1px rgb(0 0 0 / 53%);
}

.home-img-2 {
    box-shadow: -5px 8px 7px 1px rgb(0 0 0 / 53%);
}

.home-img-3 {
    box-shadow: -5px 7px 7px 1px rgb(0 0 0 / 53%);
}

.home-img-4 {
    box-shadow: 4px 9px 7px 1px rgb(0 0 0 / 53%);
}

.home-img-5 {
    box-shadow: 4px 5px 7px 1px rgb(0 0 0 / 53%);
}

.home-img-6 {
    box-shadow: 2px 7px 7px 1px rgb(0 0 0 / 53%);
}

.home-img-7 {
    box-shadow: -7px 5px 7px 1px rgb(0 0 0 / 53%);
}

.home-img-8 {
    box-shadow: 4px 8px 7px 1px rgb(0 0 0 / 53%);
}

.homeProjects-img:hover {
    opacity: .8;
}

@media only screen and (max-width:1043px) {

    .homeProjects-img {
        max-height: 120px;
    }

    .img-1 {
        transform: rotateX(341deg) rotateY(21deg) translateZ(0px) translateX(-262px) translateY(-115px);
    }

    .img-2 {
        transform: rotateX(36deg) rotateY(24deg) translateX(-420px) translateY(-90px);
    }

    .img-3 {
        transform: rotateX(33deg) rotateY(8deg) translateZ(0px) translateX(-264px) translateY(-55px) rotateZ(333deg);
    }

    .img-4 {
        transform: rotateX(38deg) rotateY(340deg) translateZ(0px) translateX(-265px) translateY(-100px) rotateZ(9deg);
    }

    .img-5 {
        transform: rotateX(326deg) rotateY(332deg) translateZ(0px) translateX(10px) translateY(10px) rotateZ(356deg);
    }

    .img-6 {
        transform: rotateX(13deg) rotateY(348deg) translateZ(0px) translateX(10px) translateY(56px) rotateZ(16deg);
    }

    .img-7 {
        transform: rotateX(12deg) rotateY(20deg) translateZ(0px) translateX(100px) translateY(-253px) rotateZ(353deg);
    }

    .img-8 {
        transform: rotateX(2deg) rotateY(340deg) translateZ(0px) translateX(-200px) translateY(-178px) rotateZ(354deg);
    }
}

@media only screen and (max-width:822px) {
    .homeProjects-title {
        font-size: 60px;
    }

    .homeProjects-img {
        max-height: 100px;
    }

    .img-1 {
        transform: rotateX(341deg) rotateY(21deg) translateZ(0px) translateX(-204px) translateY(-115px);
    }

    .img-5 {
        transform: rotateX(326deg) rotateY(332deg) translateZ(0px) translateX(-27px) translateY(10px) rotateZ(356deg);
    }

    .img-6 {
        transform: rotateX(13deg) rotateY(348deg) translateZ(0px) translateX(-25px) translateY(40px) rotateZ(16deg);
    }

    .img-8 {
        transform: rotateX(2deg) rotateY(340deg) translateZ(0px) translateX(-173px) translateY(-178px) rotateZ(354deg);
    }
}

@media only screen and (max-width:662px) {
    .homeProjects-title {
        font-size: 50px;
    }

    .homeProjects-box {

        top: 50%;
        scale: .8;
    }
}

@media only screen and (max-width:468px) {
    .homeProjects-title {
        font-size: 40px;
    }

    .homeProjects-img {
        max-height: 80px;
    }

    .homeProjects-box {

        top: 50%;
        scale: .8;
    }

    .img-3 {
        transform: rotateX(33deg) rotateY(8deg) translateZ(0px) translateX(-210px) translateY(-55px) rotateZ(333deg);
    }

    .img-4 {
        transform: rotateX(38deg) rotateY(340deg) translateZ(0px) translateX(-265px) translateY(-59px) rotateZ(9deg);
    }

    .img-2 {
        transform: rotateX(36deg) rotateY(24deg) translateX(-339px) translateY(-90px);
    }

    .img-1 {
        transform: rotateX(341deg) rotateY(21deg) translateZ(0px) translateX(-163px) translateY(-115px);
    }
    .img-5 {
        transform: rotateX(326deg) rotateY(332deg) translateZ(0px) translateX(-27px) translateY(-35px) rotateZ(356deg);
    }
    .img-8 {
        transform: rotateX(2deg) rotateY(340deg) translateZ(0px) translateX(-99px) translateY(-177px) rotateZ(354deg);
    }
}
@media only screen and (max-width:468px) {
    .homeProjects-title {
        font-size: 40px;
    }

    .homeProjects-img {
        max-height: 80px;
    }

    .homeProjects-box {
        top: 50%;
        scale: .7;
    }
    .img-8 {
        transform: rotateX(2deg) rotateY(340deg) translateZ(0px) translateX(-99px) translateY(-260px) rotateZ(354deg);
    }
    .img-7 {
        transform: rotateX(12deg) rotateY(20deg) translateZ(0px) translateX(-92px) translateY(-304px) rotateZ(353deg);
    }
    .img-6 {
        transform: rotateX(13deg) rotateY(348deg) translateZ(0px) translateX(-69px) translateY(40px) rotateZ(16deg);
    }
    .img-5 {
        transform: rotateX(326deg) rotateY(332deg) translateZ(0px) translateX(-88px) translateY(-85px) rotateZ(356deg);
    }
    .img-4 {
        transform: rotateX(38deg) rotateY(340deg) translateZ(0px) translateX(-185px) translateY(53px) rotateZ(9deg);
    }
    .img-3 {
        transform: rotateX(33deg) rotateY(8deg) translateZ(0px) translateX(-110px) translateY(183px) rotateZ(333deg);
    }
    .img-1 {
        transform: rotateX(341deg) rotateY(21deg) translateZ(0px) translateX(-129px) translateY(-98px);
    }
    .img-2{
        display: none;
    }
    .homeProjects-title {
        font-size: 30px;
    }
}